/**
 * All SCSS imports happen here
 */
@import "bootstrap/bootstrap";
@import "./tabs.scss";

// TODO: migrate everything from here down into relevant files
svg.root {
  background:#eee;
  border:1px solid #000;
}

.line {
  stroke: #111;
  stroke-width:2px;
  fill:none;
}

.future-minus {
  stroke: red;
}

.future-plus {
  stroke: #43ff2d;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}