<div class="md-layout md-gutter md-alignment-center">
  <div class="md-layout-item md-xlarge-size-50 md-large-size-80 md-medium-size-100">
    <p class="md-title">
      Solar Scorecard is a project of <a href="http://codeforfoco.org/">Code for Fort Collins</a>.
      We're a small group of volunteers who build cool things that we think will help our city.
      In this specific case, we thought that it would be good to help the city monitor its progress
      on the Climate Action Goals.
    </p>
    <md-divider></md-divider>
    <h2>Get Involved</h2>
    <p>This is a Code for Fort Collins project. You can find
      <a href="https://github.com/CodeForFoco/solar-scorecard">all its code on GitHub</a>,
      and pull requests are more than welcome.
      If that's too complicated for you,
      <a href="https://www.meetup.com/Code-for-Fort-Collins/">find them on Meetup and attend an event</a>
      to get involved in making it better :)</p>

    <h2>Contact</h2>
    <p>
      This project is maintained by Ian Skor from <a href="http://www.sandboxsolar.com/">Sandbox Solar</a> and <a href="http://codeforfoco.org">the
        members of Code for Fort Collins</a>. Please feel free to reach out to either (or both) of us about anything
      related to this project.
    </p>

    <p>To email, you can just click the links below to launch your email client:</p>

    <ul>
      <li><a href="mailto:ijskor@sandboxsolar.com">Ian Skor</a></li>
      <li><a href="mailto:people@codeforfoco.org">People of Code for Fort Collins (active members)</a></li>
    </ul>

  </div>
</div>
