<div>
    <p>We don't think we should be your only stop for learning about install solar at home. But we do have some good
    resources about that topic. Please give these a look if you're interested in the topic:
    </p>

    <ul>
        <li><a href="https://www.google.com/get/sunroof/data-explorer/place/ChIJrTDwkEVKaYcRgkCrtChCsak/">
            Check out how much solar potential City of Fort Collins and Your Roof Has!
        </a>
            Google's Project Sunroof will quickly analyze your sun potential.</li>

        <li><a href="https://github.com/CodeForFoco/solar-scorecard/files/2386048/10_Questions_to_Ask_Before_Choosing_Solar.pdf">
            Top 10 Questions to Ask Before Going Solar [PDF]
            </a>—
            These are the top questions asked that you need to get answered before choosing a solar contractor.</li>

        <li>The Solar Industry Association has <a href="https://www.seia.org/research-resources/residential-consumer-guide-solar-power">
            an unbiased buyers guide</a>.
            Download it for free to make sure you check all the boxes.</li>

        <li><a href="https://www.fcgov.com/utilities/residential/renewables/solar-rebates">Fort Collins has rebates</a> available and affordable energy audits.
            Learn more about what the city is doing locally for those interested in solar</li>

        <li>The US Department of Energy has <a href="https://www.energy.gov/eere/solar/homeowner-s-guide-going-solar">
            cool tools and research</a>.
            Learn more about advancements in the solar industry and common questions.
            Such as does it increase your home value? Spoiler: Yes it does!</li>
    </ul>
</div>
