<div>
  <solar-scorecard-stairstep></solar-scorecard-stairstep>

  <h2>What am I seeing?</h2>

  <p>On the chart, the Y-Axis (vertical) shows kilowatts (kW). Kilowatts is the measured amount of electrical power.
  The X-Axis (horizontal) shows time.</p>

  <p>Fort Collins recorded its first solar PV installation in 2006,
  since then we have displayed the cumulative amount of solar installations over time.</p>

  <p>The <strong>Fort Collins Climate Goal Line</strong> pinpoints the city's climate action plan goals for 2020 and 2030.
    Are we on track? Are we moving fast enough?
  </p>

  <p>
    The dotted lines represent forward-projections based on historical data.
    Using an algorithms (explained on <a href="/#/methodology">the methodology page</a>) we have created a linear
    projection of the current course of solar installations.
    This helps us look at if we maintained our historical and current trend of solar installations,
    how much solar will we have in the future.
    There of course will be unknown changes the may increase and decrease the amount of solar uptake such as tariffs,
    tax credits, technology, prices, etc.
    How can we as a community make sure that the curve becomes exponential?
  </p>

  <h2>Why show Boulder?</h2>

  <p>What is Fort Collins without some friendly competition with a familiar rival?
    How much solar do we have compared to our neighbor? Who can be the first to 100% renewable?
  ️</p>

  <p>Also, we had their data 🤓</p>

  <h2>What do you think?</h2>

  <p>Tell us (and we'll tell others) what you think about solar availability and uptake in Fort Collins.
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfE6SuujFfr9nGeL_B2SPPd4R8_jSQp_GzhYXRFjGfZJ5jQIg/viewform">
      Take our quick 3-question survey :)</a>
  </p>
</div>
