<div class="md-layout md-gutter md-alignment-center">
  <div flex class="md-layout-item md-xlarge-size-50 md-large-size-80 md-medium-size-100">
    <p class="md-title">The map below shows Fort Collins solar installations as of 9/30/2018 with the exception of one unfound address at "1935 PHIA WAY". The data is not real-time at this point but should be updated periodically.</p>
    <md-divider></md-divider>
    <iframe id="map-iframe" src="https://www.google.com/maps/d/u/1/embed?mid=13k1devcRX0WpLkwZ5aMlxwZmpzBRMxuS" frameborder="0"></iframe>
  </div>
</div>
