/**
 * All SCSS imports happen here
 */
@import "bootstrap/bootstrap";

svg.root {
  background:#eee;
  border:1px solid #000;
}

.line {
  stroke: #111;
  stroke-width:2px;
  fill:none;
}

.future-minus {
  stroke: red;
}

.future-plus {
  stroke: #43ff2d;
}
