/**
 * All SCSS imports happen here
 */
@import "./tabs";

// Import the theme engine
@import "~vue-material/dist/theme/engine";
@import "./theme-overrides";

// TODO: migrate everything from here down into relevant files
svg.root {
  background: #eee;
  border: 1px solid #000;
}

.line {
  stroke: #111;
  stroke-width: 2px;
  fill: none;
}

.future-minus {
  stroke: red;
}

.future-plus {
  stroke: #43ff2d;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

// Link and link hover color
.md-theme-default a:not(.md-button) {
  &:hover,
  & {
    color: $accent;
  }
}

// Default <body> font-size is a little small at 14px
p {
  font-size: 1rem;
}

// Brand logo above nav
.logo {
  $size: 150px;
  height: $size;
  width: $size;
}
